/* Root styles */
:root {
  /* Global variables */
  --text-color-primary: #fff;
  --bg-primary: #352e28;
  --text-light-grey: #6c757d;

  --gradient-start-color: #3ca55c;
  --gradient-end-color: #b5ac49;

  --bg-selection: #fec260;

  --bg-highlight: #fffa85;

  --bg-btn-orange: #d1512d;

  --input-border-color: #d99c39;
  --input-shadow-color: #fec26055;
}

::selection {
  background-color: var(--bg-selection);
  color: var(--bg-primary);
}

/* Re-setting Styles */
body {
  font-family: "PT Sans Caption", sans-serif;
  background: var(--bg-primary);
  color: var(--text-color-primary);
  transition: all 250ms;
  overflow-x: hidden;
}

h1,
.modal-heading {
  position: relative;
  width: fit-content;
  font-size: 3rem;
  font-family: "Pacifico", cursive;
}

.main-title {
  user-select: none;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;

  background-color: var(--bg-selection);
  transition: all 300ms;
}

.main-title:hover::after {
  height: 50%;
}

h2 {
  font-family: "Righteous", cursive;
  font-size: 1.3rem;
  user-select: none;
  background-image: linear-gradient(
    to right,
    var(--gradient-start-color),
    var(--gradient-end-color)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Shared styles */
.form-control::placeholder {
  color: var(--text-light-grey);
  opacity: 1;
}

.form-control:focus {
  border-color: var(--input-border-color);
  outline: 0;
  box-shadow: 0 0 0 0.25rem var(--input-shadow-color);
}

.btn-orange {
  background-color: var(--bg-btn-orange);
  border: none;
}

.btn-orange:focus-visible,
.btn-orange:focus,
.btn-orange:hover,
.btn-orange:active {
  background-color: var(--bg-btn-orange) !important;
  outline: 0;
  box-shadow: none;
  opacity: 0.9;
}

.close {
  color: var(--text-color-primary);
}

.close:hover {
  color: var(--text-color-primary);
}

/* Add bookmark section styles */
.add-bookmark {
  border: 2px solid var(--text-color-primary) 0;
  border-inline: 0px;
  border-style: dotted;
}

/* Modal Styles */
.modal-content {
  background-color: var(--bg-primary);
  color: var(--text-color-primary);
}

.circle {
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 99rem;
}

.list-group-item {
  position: relative;
}

.check-group {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
}

/* Dark/Light model toggle */
.toggle {
  position: fixed;
  top: 30%;
  right: -1.5rem;
  font-size: 1.3rem;
  min-width: 4.5rem;
  background-color: var(--bg-btn-orange);
  transition: all 250ms ease-in-out;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.toggle-dark,
.toggle-light {
  cursor: pointer;
}

.toggle-dark {
  display: none;
}

/* Animation for row highlighting */
@keyframes highlight {
  0% {
    background-color: var(--bg-highlight);
  }
  100% {
    background-color: var(--bg-highlight);
  }
}

.highlight-animation {
  animation: highlight 450ms ease-out 0.5s;
}
