footer {
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  @media screen and (min-width: $large-laptops-desktops) {
    padding: 2rem;
    border-top: 0.1rem solid $Dark-grayish-blue;
  }
}

footer > a {
  color: $Orange;
  font-weight: $font-weight-700;
}
