.navbar {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem;
  @media screen and (min-width: $large-laptops-desktops) {
    padding: 0 2rem;
    min-height: 6rem;
  }
  @media screen and (min-width: $extra-large-laptops-desktops) {
    padding: 0;
    border-bottom: 0.5px solid $Grayish-blue;
  }
}

.brand {
  color: $Black;
  font-weight: $font-weight-700;
  font-size: 2rem;
  @media screen and (min-width: $large-laptops-desktops) {
    font-size: 2.5rem;
  }
}

.nav {
  padding: 0 2rem;
}

.nav-desktop {
  display: none;
  align-self: stretch;
  @media screen and (min-width: $large-laptops-desktops) {
    display: flex;
    align-items: center;
  }
}

.nav-mobile {
  visibility: hidden;
  display: block;
  position: fixed;
  inset: 0;
  min-height: 100vh;
  z-index: 15;
  background: rgba(0, 0, 0, 0.55);
  padding: 0;
  transition: all 0.35s ease-in-out;
  @media screen and (min-width: $large-laptops-desktops) {
    display: none;
  }
}

.nav-list {
  height: 100%;
  display: flex;
  gap: 2rem;
}

.nav-list-mobile {
  @extend .nav-list;
  width: 15rem;
  height: 100%;
  background: $White;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  transform: translateX(-15rem);
  transition: all 0.35s ease-in-out;
}

.nav-list-mobile {
  @extend .nav-list;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 1rem;
  border-bottom: 0.2rem solid transparent;
  transition: all 0.25s ease-in-out;
}

.nav-item:hover,
.nav-item:focus-within {
  border-color: $Orange;
}

.nav-link {
  color: $Dark-grayish-blue;
}

.nav-link-mobile {
  color: $Black;
  font-weight: $font-weight-700;
}

.nav-link-mobile:hover,
.nav-link-mobile:focus,
.nav-link-mobile:active {
  color: $Orange;
}

.navbar-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
  @media screen and (min-width: $large-laptops-desktops) {
    gap: 2.5rem;
  }
}

.cart-products-no {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: $Orange;
  color: $White;
  padding: 0.4rem;
}

.avatar {
  display: block;
  width: 2rem;
  height: 2rem;
  border: 0.125rem solid transparent;
  border-radius: 100%;
  transition: all 0.25s ease-in-out;
  @media screen and (min-width: $large-laptops-desktops) {
    width: 3.5rem;
    height: 3.5rem;
  }
}

.avatar:hover {
  border-color: $Orange;
}
