.container {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $small-devices) {
    padding: 2rem 1rem;
  }
  @media screen and (min-width: $large-laptops-desktops) {
    flex-direction: row;
    margin: auto 0;
    padding: 2rem;
  }
  @media screen and (min-width: $extra-large-laptops-desktops) {
    padding: 4rem 3rem;
  }
}

section {
  max-width: 35rem;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  text-align: left;
  @media screen and (min-width: $large-laptops-desktops) {
    flex-basis: 50%;
  }
}
