h3 {
  width: 100%;
  font-size: 0.8rem;
  text-transform: uppercase;
  color: $Orange;
  margin: 0.2rem 0;
  letter-spacing: 0.1rem;
}

h2 {
  width: 100%;
  font-size: 1.8rem;
  text-transform: capitalize;
  margin: 0.6rem 0;
}

p {
  width: 100%;
  font-size: 0.95rem;
  margin: 0.2rem 0;
  color: $Dark-grayish-blue;
}
