/* Dark Mode Overwite Styles */

/* Change Colors Variables  */
:root:has(#color-mode:checked) {
  --text-color-primary: #352e28;
  --bg-primary: #f7ecde;
}

/* Replace icons for color mode */
body:has(#color-mode:checked) .toggle-light {
  display: none;
}

body:has(#color-mode:checked) .toggle-dark {
  display: block;
}

/* Main title styles */
body:not(:has(#color-mode:checked)) .main-title {
  text-shadow: 0 2px 4px #000;
}
