@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

//Typography
$font: "Kumbh Sans", sans-serif;
$font-initial-size: 1rem;
$font-weight-400: 400;
$font-weight-700: 700;

//Colors
$Orange: hsl(26, 100%, 55%);
$Orange_Pale: hsl(25, 100%, 94%);
$Very-vark-blue: hsl(220, 13%, 13%);
$Dark-grayish-blue: hsl(219, 9%, 45%);
$Grayish-blue: hsl(220, 14%, 75%);
$Light-grayish-blue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$Black-lightbox: hsl(0, 0%, 75%);

//Breaking Points
$small-devices: 600px;
$portrait-tablets: 600px;
$landscape-tablets: 768px;
$large-laptops-desktops: 992px;
$extra-large-laptops-desktops: 1200px;

//  /* Extra small devices (phones, 600px and down) */
//  @media only screen and (max-width: 600px) {...}

//  /* Small devices (portrait tablets and large phones, 600px and up) */
//  @media only screen and (min-width: 600px) {...}

//  /* Medium devices (landscape tablets, 768px and up) */
//  @media only screen and (min-width: 768px) {...}

//  /* Large devices (laptops/desktops, 992px and up) */
//  @media only screen and (min-width: 992px) {...}

//  /* Extra large devices (large laptops and desktops, 1200px and up) */
//  @media only screen and (min-width: 1200px) {...}
