/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.btn-close-modal {
  margin-left: auto;
}
