.username-validation,
.email-validation,
.password-validation {
  font-size: 12px;
}

.valid > .fa-circle-check {
  display: block !important;
}

.valid > .fa-circle-xmark {
  display: none !important;
}
