:root {
  --main-color: #1abc9c;
  --second-color: #2c3e50;
  --footer-bg-color: #1a252f;
}

body {
  overflow-x: hidden;
  background-color: var(--second-color);
}

.navbar {
  background-color: var(--second-color);
  transition: all 150ms ease-in-out;
}

.nav-link {
  transition: all 150ms ease-in-out;
}

.nav-link.active {
  background-color: var(--main-color);
  color: white;
}

.about {
  background-color: var(--main-color);
}

footer {
  background-color: var(--second-color);
  color: white;
}

.copyright {
  background-color: var(--footer-bg-color);
}

.home {
  background-color: var(--main-color);
}
