/* Dark Mode Overwite Styles */

/* Change Colors Variables  */
:root:has(#color-mode:checked) {
  --primary-hue: 35;
  --primary-lightness: 44%;
  --primary-saturation: 72%;
  --light-hue: 0;
  --light-saturation: 0%;
  --light-lightness: 9%;
  --color-default: #fff;
  --color-secondary: #fff;
  --color-tertiary: #9f9f9f;
  --color-light-grey: #252525;
}

/* Change body bg Color */
body:has(#color-mode:checked) {
  background-color: #202020;
}

/* Replace icons for color mode */
body:has(#color-mode:checked) .header__toggle-dark {
  display: none;
}

body:has(#color-mode:checked) .header__toggle-light {
  display: block;
}

/* Change Active Navigations link highlight color */
body:not(body:has(:target)):has(#color-mode:checked)
  .header__menu-item-link[href="#home"],
body:has(.home:target):has(#color-mode:checked)
  .header__menu-item-link[href="#home"],
body:has(.contact:target):has(#color-mode:checked)
  .header__menu-item-link[href="#contact"],
body:has(.gallery:target):has(#color-mode:checked)
  .header__menu-item-link[href="#gallery"],
body:has(.chefs:target):has(#color-mode:checked)
  .header__menu-item-link[href="#chefs"] {
  color: hsl(
    var(--light-hue),
    var(--light-saturation),
    calc(var(--light-lightness) + 90%)
  );
}

/* Change Active Navigations link color */
body:has(#color-mode:checked) .header__menu-item-link:hover {
  color: #fff;
}

/* Change Hero Header Color */
body:has(#color-mode:checked) .hero__header-desc {
  color: var(--color-tertiary);
}

/* Change Chef item shape divide image */
body:has(#color-mode:checked) .chefs__cards-item-figure::before {
  background-image: url("../images/team-shape-dark.svg");
}

/* Change contact title color */
body:has(#color-mode:checked) .contact__title {
  color: #adadad;
}
