/* Shared Media Queries */
@media screen and (min-width: 1401px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 992px) {
  :root {
    scroll-padding: 80px;
  }

  .container {
    max-width: 720px;
  }

  section {
    padding: 80px 0;
  }
}

@media screen and (max-width: 768px) {
  :root {
    scroll-padding: 50px;
  }

  .container,
  .footer .container {
    padding-inline: 40px;
  }

  section {
    padding: 50px 0;
  }
}

@media screen and (max-width: 576px) {
  .container,
  .footer .container {
    padding-inline: 15px;
  }
}

/* Navbar Media Queries */
@media screen and (max-width: 1200px) {
  .header__menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    width: 350px;
    height: 100%;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    background-color: #fff;
    border-left: 2px solid #f1f1f1;
    -webkit-transition: -webkit-transform var(--animation-duration);
    transition: -webkit-transform var(--animation-duration);
    -o-transition: transform var(--animation-duration);
    transition: transform var(--animation-duration);
    transition: transform var(--animation-duration),
      -webkit-transform var(--animation-duration);
  }

  .close-menu {
    display: block;
    padding: 10px 15px 5px;
  }

  .header__menu-item-link {
    width: 100%;
    padding: 15px 10px;
  }

  .header__menu-item-link::before {
    bottom: 2px;
  }

  .header__toggle {
    margin-left: auto;
    margin-right: 20px;
  }

  .header__menu-toggle {
    display: block;
  }
}

/* Hero Media Queries */
@media screen and (max-width: 992px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 50px;
    margin-top: 30px;
  }

  .hero__container > * {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .hero__header-actions-contact {
    border-radius: 900px;
  }
}

@media screen and (max-width: 400px) {
  .hero__header-actions-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}

/* Chefs Media Queries */
@media screen and (max-width: 992px) {
  .chefs__cards-item {
    width: calc(calc(100% - 20px) / 2);
  }
}

@media screen and (max-width: 768px) {
  .chefs__cards-item {
    width: 100%;
  }
}

/* Gallery Media Queries */
@media screen and (min-width: 1401px) {
  .gallery__list {
    height: 1000px;
  }
}

@media screen and (max-width: 1400px) {
  .gallery__list {
    height: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .gallery__list {
    height: 850px;
  }
}

@media screen and (max-width: 992px) {
  .gallery__list {
    height: 1420px;
  }

  .gallery__item {
    width: calc(calc(100% - 20px) / 2);
  }

  .gallery__item--pizza {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .gallery__item--fried {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .gallery__item--omelette {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .gallery__item--kofta {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
  }
  .gallery__item--burger {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .gallery__item--pizza-slices {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .gallery__item--steak {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
}

@media screen and (max-width: 768px) {
  .gallery__list {
    height: auto;
  }

  .gallery__item {
    width: 100%;
  }
}

/* Contacts Media Queries */
@media screen and (max-width: 992px) {
  .contact__input,
  .contact__input--half {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .contact__address-item {
    width: 100%;
  }
}

/* Footer Media Queries */
@media screen and (max-width: 1200px) {
  .footer__brand,
  .footer__contact {
    width: calc(calc(100% - 20px) / 2);
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .footer__subscription {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}

@media screen and (max-width: 768px) {
  .footer__brand,
  .footer__subscription,
  .footer__contact {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
  }
}

@media screen and (max-width: 576px) {
  .footer__subscription-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  .footer__button {
    width: 100%;
  }
}
