/* main theme variables */
:root{
    --var-bg-primary:#4FBDBA;
    --var-bg-secodary:  #072227;
    --var-color-primary:  #072227;
    --var-color-secodary: #AEFEFF;
    --var-selection-color: hsl(2, 76%, 50%);
    --var-brand-font: 'Dancing Script', cursive;
    --var-main-font: 'Mochiy Pop P One', sans-serif;
    --var-thin-font: 'Rajdhani', sans-serif;
}

/* reset default values */

*, *::after, *::before{
    box-sizing: border-box;
}

*{
    font-family: var(--var-main-font);
}

*::selection{
    background-color: var(--var-selection-color);
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    user-select: none;
    text-decoration: none;
}

img{
    user-select: none;
}

/* re-usable styles*/
.bg-primary{
    background-color: var(--var-bg-primary);
}

.bg-secondary{
    background-color: var(--var-bg-secodary);
}

.bg-primary-transparent{
    padding: .5rem;
    border-radius: 0.5rem 0;
}

.text-primary{
    color: var(--var-color-primary);
}

.text-secondary{
    color: var(--var-color-secodary);
}

.brand-font{
    font-family: var(--var-brand-font);
}

.thin-font{
    background-color: rgba(7,34,39,0.5);
    font-family: var(--var-thin-font);
    font-size: 1.1rem;
    box-shadow: 0 0 .25rem var(--var-color-primary);
}

.content-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section-header{
    align-self: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    line-height: .3;
    color: var(--var-color-secodary);
    text-shadow: 0 0 .25rem var(--var-color-primary);
}    

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 15rem;
    padding: 1rem;
    border-radius: .5rem 0;
}

.my-images{
    display: block;
    object-fit: cover;
    object-position: center;
    height: 100%;
    max-width: 100%;
    border: .125rem solid var(--var-color-primary);
    border-radius: .5rem 0;
    box-shadow: 0 0 .5rem var(--var-bg-primary);
    transition: 200ms ease-in-out;
}

figcaption{
    width: 100%;
    background-color: var(--var-bg-primary);
    color: var(--var-color-primary);
    opacity: 0.90;
    padding: .5rem;
    margin-top: .7rem ;
    border-radius: 0 1rem ;
    border: .125rem solid var(--var-color-primary);
    box-shadow: 0 0 .5rem var(--var-bg-primary);
}

figcaption :is(li, a){
    font-size: 1.1rem;
    font-family: var(--var-thin-font);
}

figcaption a{
    display: block;
    color: var(--var-color-primary);
    text-align: right;
    text-decoration: underline;
}

figcaption a:hover{
    color: var(--var-color-secodary);
}

/* main container properties */
.container-full{
    display: grid;
    grid-template-areas: 
        "section1"
        "section2"
        "section3"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: min(100vh,41rem) auto auto 3rem;
}

/* navbar styles */
#navbar{
    position: fixed;
    top: 0;
    z-index: 3;
    min-height: 4rem;
    align-items: initial;
    transition: 300ms ease-in-out;
}

.navbar-active{
    background-color: var(--var-bg-primary);
    box-shadow: 0 0 .25rem var(--var-bg-secodary);
}

#navbar-header{
    display: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 75rem; 
    margin: 0 2rem ; 
}

#brand{
    flex-basis: 33.3%;   
    font-size: 2rem;
}

#nav-container{
    flex-basis: 66.6%;
}

#nav-list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .5rem;
}

.nav-item:hover .nav-link, .nav-item:focus .nav-link{
    color: var(--var-color-secodary);
    text-decoration: underline;
}


.nav-link{
    font-size: 0.9rem;
}

.toggle-btn {
    padding: .05rem  .4rem;
    font-size: 1rem;
    border: .125rem solid var(--var-color-primary);
    border-radius: 20%;
    margin-left: 1rem;
    box-shadow: 0 0 .125rem var(--var-bg-primary);
}

.toggle-btn:hover, .toggle-btn:focus{
    border: .125rem solid var(--var-color-secodary);
}

#open{
    margin: auto auto auto .5rem;
    z-index: 3;
}

/* aside style */ 
aside{
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 75vh;
    width: 75vw;
    background-image: url('/img/backgrounds/blob-scene.svg');
    background-position: center;
    background-size: cover;
    border-right: .125rem solid var(--var-color-secodary);
    border-bottom: .125rem solid var(--var-color-secodary);
    border-bottom-right-radius: .25rem;
    box-shadow: 0 0 .5rem var(--var-bg-primary);
    transition:  200ms ease-in-out;
    -moz-transition:  200ms ease-in-out; /* Firefox 4 */
    -webkit-transition:  200ms ease-in-out; /* Safari and Chrome */
    -o-transition:  200ms ease-in-out; /* Opera */
}

#close{
    margin: .25rem .25rem 1rem auto;
}

#my-pic-wrapper{
    align-self: center;
    width: 6rem;
    height: 8rem;
    padding: .5rem;   
}

#aside-nav-list > .nav-item + .nav-item {
    border-top: 1px solid var(--var-color-secodary);
}

/* about-me section's styles */ 
#about{
    grid-area: section1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/img/backgrounds/symbol-scatter-haikei.svg');
    background-position: center;
}

#about-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    padding: 1rem;
    width: 100%;
    max-width: 75rem;
    text-align: center;
}

#about-header{
    max-width: 20rem;
    text-shadow: 0 .25rem 0 var(--var-color-secodary);
}

#about-header > :is(h1, h4, p) {
    margin: 1rem 0;
}

#about-details{
    background-color: transparent;
    margin: 1rem 0;
    max-width: 22rem;
}

#about-details> img{
    border: none;
    box-shadow: none;
}

#about-details> p{
    margin-top: .5rem;
}

.curve {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.curve svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
}

.curve .shape-fill {
    fill: #35858B;
}

/** For mobile devices **/
@media (max-width: 767px) {
    .curve svg {
        width: calc(100% + 1.3px);
        height: 38px;
    }
}



/* mywork section's styles */ 
#my-work{
    grid-area: section2;
    display: flex;
    justify-content: center;
    background-image: url('/img/backgrounds/layered-peak.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#mywork-container{
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem 1rem;
    max-width: 75rem;
}

#mywork-wrapper{
    width: 100%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem ;
}

#mywork-header h4{
    margin-bottom: 0.25rem;
}

.mywork-item figure{
    margin: 0;
}

.mywork-item p{
    margin-top: 0;
    margin-bottom: .25rem;
    text-decoration: underline;
}

.mywork-figure{
    background-color: var(--var-color-secodary);
    box-shadow: 0 0 .25rem var(--var-color-primary);
    max-width: 100%;
}

.mywork-img{
    max-height: 20rem;
    width: 100%;
}

.mywork-figure:hover > .mywork-img{
    transform: scale(1.03);
    border: .125rem solid var(--var-bg-primary);
}

.fa-external-link-square-alt{
    margin-left:.25rem;
}

/* contact me section's styles */
#contact{
    grid-area: section3;
    display: flex;
    justify-content: center;
}

#contact-container{
    flex-direction: column;
    padding: 2rem 1rem;
    max-width: 75rem;
}

.contact-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-item{
    margin: 0 1rem;
}

.contact-item:hover{
    transform: scale(1.1);
}

.contact-link{
    font-size: 3rem;
    text-shadow: 0 0 .5rem var(--var-bg-primary);
}



/* footer styles */ 
footer{
    grid-area: footer;
    display: flex;
    justify-content: center;
}

#footer-container{
    align-content:center ;
    max-width: 75rem;
    height: 100%;
    text-align: center;
}

#footer-container :is(p,span){
    margin: 0;
    font-family: var(--var-thin-font);
}

#footer-container span{
    text-decoration: underline;
}

/* media queries */ 

@media only screen and (min-width:48rem){
    /* main container */
    .container-full{
        grid-template-rows: 100vh auto auto 3.5rem;
    }    

    /* navbar and aside */ 

    #open{
        display: none;
    }

    #navbar-header{
        display: flex;
    }

    /* about section */ 
    #about-wrapper{
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        padding: 3rem 2rem;
        margin-top: 2rem;
    }

    #about-header{
        flex-basis: 40%;
        max-width: 30rem;
        text-align: left;
    }

    #about-header h1{
        font-size: 2rem;
    }

    #about-header h4{
        font-size: 1.2rem;
    }

    #about-details{
        flex-basis: 60%;
        max-width: 35rem;
        margin: auto 1rem;
    }
}