/* Root styles */
:root {
  --text-light-grey: #6c757d;
}

/* Re-setting Styles */
body {
  font-family: "PT Sans Caption", sans-serif;
  overflow-x: hidden;
}

h1,
.main-title,
.navbar-brand {
  font-family: "Pacifico", cursive;
}

.main-title {
  font-size: 2.5rem;
  position: relative;
  width: fit-content;
  margin-inline: auto;
  user-select: none;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: -1;
  background-color: #a2c1f0;
  transition: all 300ms;
}

.main-title:hover::after {
  height: 50%;
}

/* Shared styles */
.form-control::placeholder {
  color: var(--text-light-grey);
  opacity: 1;
}

.username-validation,
.email-validation,
.password-validation {
  font-size: 12px;
}

.valid > .fa-circle-check {
  display: block !important;
}

.valid > .fa-circle-xmark {
  display: none !important;
}

/* Background styles */
.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}
