/* Root styles */
:root {
  /* Primary Colors */
  --sky-blue: #87ceeb;
  --cyan: #00bcd4;

  /* Secondary Colors */
  --white: #ffffff;
  --soft-gray: #f5f5f5;

  /* Accent Colors */
  --sun-yellow: #ffd700;
  --cool-blue: #4682b4;

  /* Error/Warning Colors */
  --storm-gray: #708090;
  --rain-blue: #1e90ff;

  --primary-font: "Righteous", serif;
  --secondary-font: "Poppins", sans-serif;
}

/* Re-setting Styles */
body {
  font-family: var(--secondary-font);
  background-color: var(--cool-blue);
  color: var(--soft-gray);
  overflow-x: hidden;
}

.sunny-icon {
  color: var(--sun-yellow);
}

.stormy-card {
  background-color: var(--storm-gray);
  color: var(--white);
}

h1 {
  font-family: var(--primary-font);
  font-size: 3rem;
}

/* Shared styles */
.main-title {
  font-family: var(--primary-font);
}

.card {
  background-image: var(--icon-src);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.bg-glass {
  background-color: rgba(238, 225, 225, 0.25) !important;
  backdrop-filter: blur(5.5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.desc {
  font-size: 1.2rem;
}

.form-control::placeholder {
  color: var(--storm-gray);
  opacity: 1;
}

.location-validation {
  font-size: 14px;
}

.valid > .fa-circle-check {
  display: block !important;
}

.list-group-item {
  cursor: pointer;
  transition: all 250ms ease-in-out;
}

.list-group-item:hover,
.list-group-item:focus,
.list-group-item:focus-visible {
  background-color: var(--sky-blue);
  border-color: var(--sky-blue);
}
